.header-cell-id {
  width: 50px;
}

.header-cell-title {
  width: 400px;
}
.cell-title {
  font-size: 16px;
}

.header-cell-username {
  width: 120px;
}

.header-cell-status {
  width: 70px;
}

.header-cell-more {
  width: 40px;
}

.mat-form-field-wrapper {
  padding: 0px !important;
}
